.profile-page {
  display: grid;
  justify-content: center;
}

.user-data {
  display: grid;
  gap: 10px;
  justify-content: center;
}

.photo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 50%;
  border-radius: 50%;
  border-color: 2px solid rgba(128, 128, 128, 0.749);
}

.info-block {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.userfullname-block {
  text-align: center;
  font-size: 20px;
}

.username-block {
  font-size: 16px;
  text-align: center;
}
